# W4-geospatial-data-project

In [1]:
#Import the necessary libraries.
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import re

In [2]:
from functools import reduce
import operator

In [3]:
#Import functions from .py
import src.api_functions as af

/Users/awalsh/IRONHACK/PROYECTOS/W4-geospatial-data-project/src/api_functions.py:112: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if city_name is "Madrid":
/Users/awalsh/IRONHACK/PROYECTOS/W4-geospatial-data-project/src/api_functions.py:114: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if city_name is "Sevilla":
/Users/awalsh/IRONHACK/PROYECTOS/W4-geospatial-data-project/src/api_functions.py:116: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if city_name is "Barcelona":

# Option 1: Madrid

In [4]:
#We define "name", "address" and "place" for the Madrid location.
city_name = "Madrid"
city_address = "Puerta del sol"
city_place = "starbucks"

#We use format to parameterize the string that will receive geocode and be able to use it for each of the locations.
geocode_address = f'{city_address}, {city_name}' 

#We search the coordinates for the location of Madrid using the function geocode.
madrid = af.geocode(geocode_address)
madrid

{'type': 'Point', 'coordinates': ['40.41703', '-3.70343']}

In [5]:
load_dotenv()

True

In [6]:
#To store our tokens in variables.
client_id = os.getenv("tok1")
client_secret = os.getenv("tok2")

In [7]:
#Define the URLs where we will make the API requests.
url_query = 'https://api.foursquare.com/v2/venues/search' 
url_recomendados = 'https://api.foursquare.com/v2/venues/explore'

## 1.1. Find Starbucks in Madrid

In [8]:
#Call the function "find_places"
madrid_starbucks_dict = af.find_places("starbucks", madrid)

In [9]:
#print(madrid_starbucks_dict)

In [10]:
#Call the function "build_df" to build a df from the dictionary obtained with "find_places"
madrid_starbucks_df = af.build_df(madrid_starbucks_dict)
madrid_starbucks_df.head()

,nombre,latitud,longitud,location
0,Starbucks,40.417195,-3.706119,"{'type': 'Point', 'coordinates': [40.417195167..."
1,Starbucks,40.417539,-3.702775,"{'type': 'Point', 'coordinates': [40.417539, -..."
2,Starbucks,40.420140,-3.702886,"{'type': 'Point', 'coordinates': [40.420140393..."
3,Starbucks,40.418038,-3.699372,"{'type': 'Point', 'coordinates': [40.418038185..."
4,Starbucks,40.417489,-3.704665,"{'type': 'Point', 'coordinates': [40.417489421..."

In [11]:
#Call the function "build_json" to store the data in a json and save it. 
af.build_json(city_place, city_name, madrid_starbucks_dict)

import geopandas as gpd

madrid_starbucks_df.sample()

gdf_starbucks_madrid = gpd.GeoDataFrame(madrid_starbucks_df, geometry=gpd.points_from_xy(madrid_starbucks_df.longitud, madrid_starbucks_df.latitud))

gdf_starbucks_madrid.sample()

from cartoframes.viz import Map, Layer, popup_element

Map(Layer(gdf_starbucks_madrid, "color:green", popup_hover=[popup_element("nombre", "Starbucks en Madrid")]))

## 1.2. Find vegan restaurants in Madrid

In [12]:
city_place = "vegan"

In [13]:
madrid_vegans_dict = af.find_places("vegano", madrid)

In [14]:
madrid_vegans_df = af.build_df(madrid_vegans_dict)
madrid_vegans_df.head()

,nombre,latitud,longitud,location
0,RESTAURANTE VEGANO PLANT GRILL,40.415583,-3.701298,"{'type': 'Point', 'coordinates': [40.415583141..."
1,Planeta Vegano,40.410285,-3.700524,"{'type': 'Point', 'coordinates': [40.410285211..."
2,Planeta Vegano,40.408534,-3.700901,"{'type': 'Point', 'coordinates': [40.408533876..."
3,El Templo Vegano,40.426277,-3.699349,"{'type': 'Point', 'coordinates': [40.426277, -..."
4,Punto Vegano,40.424821,-3.715852,"{'type': 'Point', 'coordinates': [40.424821212..."

In [15]:
#af.build_json(city_place, city_name, madrid_vegans_dict)

## 1.3. Find nurseries in Madrid

city_place = "guarderia"

madrid_guarderia_dict = af.find_places("guarderia", madrid)

madrid_guarderia_df = af.build_df(madrid_guarderia_dict)
madrid_guarderia_df.head()

af.build_json(city_place, city_name, madrid_guarderia_dict)

madrid_guarderia_df.nombre.unique()

af.build_json(city_place, city_name, madrid_starbucks_dict)

## 1.4. Find schools in Madrid

city_place = "colegio"

madrid_baloncesto_dict = af.find_places("colegio", madrid)

madrid_colegio_df = af.build_df(madrid_baloncesto_dict)
madrid_colegio_df.head()

madrid_colegio_df.nombre.unique()

## 1.6. Find pet hairdresser in Madrid

In [16]:
city_place = "pets"

In [17]:
madrid_pets_dict = af.find_places("peluqueria canina", madrid)

In [18]:
madrid_pets_df = af.build_df(madrid_pets_dict)
madrid_pets_df.head()

,nombre,latitud,longitud,location
0,petworks peluquería canina & animal boutique,40.402467,-3.708326,"{'type': 'Point', 'coordinates': [40.402467291..."
1,Peluquería Canina Oh my dog,40.398848,-3.700395,"{'type': 'Point', 'coordinates': [40.398848145..."
2,Peluquería canina. Nudogs,40.426059,-3.730614,"{'type': 'Point', 'coordinates': [40.426059473..."
3,peluquería canina Daniela Vallejo,40.366642,-3.549458,"{'type': 'Point', 'coordinates': [40.366642440..."
4,Peluquería Canina Bichillos,40.338966,-3.867538,"{'type': 'Point', 'coordinates': [40.338965750..."

In [19]:
madrid_pets_df.nombre.unique()

array(['petworks peluquería canina & animal boutique',
       'Peluquería Canina Oh my dog', 'Peluquería canina. Nudogs',
       'peluquería canina Daniela Vallejo', 'Peluquería Canina Bichillos',
       'Peluquería Canina Peluditos',
       'Cursos Peluquería Canina Raul Ferrio',
       'Can Cut Peluquería Canina', 'Peluquería Canina Strella',
       'Peluqueria Canina', 'Peluquería Canina Plaza Vieja',
       'Peluquería Canina "Lotta & Less"',
       'Peluqueria canina movil Good Dog',
       'Peluqueria canina "El castillo"', 'Peluquería canina Rock & Dog',
       'Pet’Shop Zafra2 Peluquería Canina', 'peluqueria canina queen dog',
       'Peluqueria canina Miriam', 'Peluqueria Canina Zar',
       'Peluquería Canina Anthares', 'Peluquería canina Canessa',
       'Peluquería canina Miss Pulguitas', 'Peluqueria canina',
       'Peluquería canina Truka', 'Peluqueria Canina Pelucan',
       'Peluquería canina y felina SENDA (a domicilio)',
       'Peluqueria canina la dehesa', 'Peluqueria Canina Saray',
       'Peluquería Canina Saray', 'Peluquería Canina Boykid y Exóticos'],
      dtype=object)

In [20]:
af.build_json(city_place, city_name, madrid_pets_dict)

## 1.5. Find train stations in Madrid

In [21]:
city_place = "stations"

In [22]:
madrid_stations_dict = af.find_places("estacion renfe", madrid)

In [23]:
madrid_stations_df = af.build_df(madrid_stations_dict)
madrid_stations_df.head()

,nombre,latitud,longitud,location
0,Estación de Madrid-Puerta de Atocha,40.406403,-3.689550,"{'type': 'Point', 'coordinates': [40.406402503..."
1,estacion renfe cordoba,40.439998,-3.670001,"{'type': 'Point', 'coordinates': [40.439998100..."
2,Estación Renfe Villalba de Guadarrama,40.442951,-3.873070,"{'type': 'Point', 'coordinates': [40.442951202..."
3,Estación de Cercanías de Madrid-Atocha,40.405497,-3.688216,"{'type': 'Point', 'coordinates': [40.405496649..."
4,Aparcamiento de tierra de la estación Renfe,40.158603,-3.611266,"{'type': 'Point', 'coordinates': [40.158603062..."

In [24]:
af.build_json(city_place, city_name, madrid_stations_dict)

# Option 2 : Barcelona

In [25]:
#We define "name", "address" and "place" for the Madrid location.
city_name = "Barcelona"
city_address = "Plaça de Catalunya"


#We use format to parameterize the string that will receive geocode and be able to use it for each of the locations.
geocode_address = f'{city_address}, {city_name}' 

#We search the coordinates for the location of Madrid using the function geocode.
barcelona = af.geocode(geocode_address)
barcelona

{'type': 'Point', 'coordinates': ['41.38781', '2.16920']}

## 2.1. Find Starbucks in Barcelona

In [26]:
city_place = "starbucks"

In [27]:
barcelona_starbucks_dict = af.find_places("starbucks", barcelona)

In [28]:
barcelona_starbucks_df = af.build_df(barcelona_starbucks_dict)
barcelona_starbucks_df.head()

,nombre,latitud,longitud,location
0,Starbucks Rambla Cataluña,41.387954,2.167901,"{'type': 'Point', 'coordinates': [41.387953542..."
1,Starbucks Pelai,41.385805,2.167858,"{'type': 'Point', 'coordinates': [41.385804589..."
2,Starbucks Rambla Canaletas,41.383485,2.171382,"{'type': 'Point', 'coordinates': [41.383485318..."
3,Starbucks Plaza Universitat,41.386418,2.165150,"{'type': 'Point', 'coordinates': [41.386417656..."
4,Starbucks Sant Pere,41.388783,2.172063,"{'type': 'Point', 'coordinates': [41.388782617..."

In [29]:
#af.build_json(city_place, city_name, barcelona_starbucks_dict)

## 2.2. Find vegan restaurants in Barcelona

In [30]:
city_place = "vegan"

In [31]:
barcelona_vegans_dict = af.find_places("vegan", barcelona)

In [32]:
barcelona_vegans_df = af.build_df(barcelona_vegans_dict)
barcelona_vegans_df.head()

,nombre,latitud,longitud,location
0,Vegan Junk Food Bar,41.383386,2.180255,"{'type': 'Point', 'coordinates': [41.383385646..."
1,All Vegan,41.382820,2.169548,"{'type': 'Point', 'coordinates': [41.38282, 2...."
2,Cuco Vegan Fashion,41.382320,2.173978,"{'type': 'Point', 'coordinates': [41.38232, 2...."
3,ENJOY VEGAN,41.388152,2.180673,"{'type': 'Point', 'coordinates': [41.3881518, ..."
4,Monchito Vegan,41.380971,2.179880,"{'type': 'Point', 'coordinates': [41.380970639..."

In [33]:
barcelona_vegans_df.nombre.unique()

array(['Vegan Junk Food Bar', 'All Vegan', 'Cuco Vegan Fashion',
       'ENJOY VEGAN', 'Monchito Vegan', 'Nae Vegan Shoes',
       'Vegan Food Heaven', 'Good Shit, Vegan Kebabs', 'Súper Vegan',
       'Vegan Streets Barcelona Glories', 'Veganoteca', 'Tulsi Vegana',
       'vegania', 'EnjoyVegan', 'Tamaka Barcelona Eixample',
       'Toni Rodríguez Vegan Gastro Academy', 'Veganashi',
       'Falafel Vegano - de Shani', 'Fira Vegana Pou De La Figuera',
       'Fira vegana', 'Dolce Pizza & Los Veganos',
       'Vēgere - Bellesa Vegana', 'Lujuria Vegana', 'vegan shop',
       'Pascuala Vegan', 'Veganizzimo',
       '2Y Restaurante Vegano y macrobiotico',
       '2Y Cuina Vegana, Energética y Macrobiòtica'], dtype=object)

In [34]:
#af.build_json(city_place, city_name, barcelona_vegans_dict)

## 2.3. Find train stations in Barcelona

In [35]:
city_place = "stations"

In [36]:
barcelona_stations_dict = af.find_places("renfe", barcelona)

In [37]:
barcelona_stations_df = af.build_df(barcelona_stations_dict)
barcelona_stations_df.head()

,nombre,latitud,longitud,location
0,RENFE Plaça de Catalunya,41.387465,2.168987,"{'type': 'Point', 'coordinates': [41.387464725..."
1,RENFE Passeig de Gràcia (Estación RENFE Passei...,41.392671,2.165654,"{'type': 'Point', 'coordinates': [41.392671009..."
2,RENFE Arc de Triomf,41.393026,2.181853,"{'type': 'Point', 'coordinates': [41.393026487..."
3,Cafè RENFE,41.388991,2.167678,"{'type': 'Point', 'coordinates': [41.388991383..."
4,RENFE Barcelona Sants - anden 5,41.387713,2.169367,"{'type': 'Point', 'coordinates': [41.387712661..."

In [38]:
af.build_json(city_place, city_name, barcelona_stations_dict)

## 2.4. Find schools in Barcelona

city_place = "schools"

barcelona_schools_dict = af.find_places("collegi", barcelona)

barcelona_schools_df = af.build_df(barcelona_schools_dict)
barcelona_schools_df.head()

af.build_json(city_place, city_name, barcelona_schools_dict)

## 2.5. Find nurseries in Barcelona

city_place = "nurseries"

barcelona_nurseries_dict = af.find_places("infantil", barcelona)

barcelona_nurseries_df = af.build_df(barcelona_nurseries_dict)
barcelona_nurseries_df

barcelona_nurseries_df.nombre.unique()

af.build_json(city_place, city_name, barcelona_nurseries_dict)

## 2.5. Find pets hairdresser in Barcelona

In [39]:
city_place = "pets"

In [40]:
barcelona_pets_dict = af.find_places("peluqueria canina", barcelona)

In [41]:
barcelona_pets_df = af.build_df(barcelona_pets_dict)
barcelona_pets_df.head()

,nombre,latitud,longitud,location
0,CHIC! Peluquería canina y felina,41.401375,2.167804,"{'type': 'Point', 'coordinates': [41.401374630..."
1,Peluqueria Canina,41.404239,2.147919,"{'type': 'Point', 'coordinates': [41.404239391..."
2,Peluqueria Canina Marc Oliva,41.395544,2.142846,"{'type': 'Point', 'coordinates': [41.395544, 2..."
3,Peluquería Canina Mascotes Alella,41.469803,2.277983,"{'type': 'Point', 'coordinates': [41.4698031, ..."
4,Stylcan Peluqueria Canina,41.395289,2.140591,"{'type': 'Point', 'coordinates': [41.395289248..."

In [42]:
af.build_json(city_place, city_name, barcelona_pets_dict)

## 2.6. Find bascketball courts in Barcelona

city_place = "bascket"

barcelona_bascket_dict = af.find_places("baloncesto", barcelona)

barcelona_bascket_df = af.build_df(barcelona_bascket_dict)
barcelona_bascket_df.head()

af.build_json(city_place, city_name, barcelona_vets_dict)

## Option 3 : Sevilla

In [43]:
#We define "name", "address" and "place" for the Seville location.
city_name = "sevilla"
city_address = "puerta de jerez"


#We use format to parameterize the string that will receive geocode and be able to use it for each of the locations.
geocode_address = f'{city_address}, {city_name}' 

#We search the coordinates for the location of Madrid using the function geocode.
sevilla = af.geocode(geocode_address)
sevilla

{'type': 'Point', 'coordinates': ['37.38285', '-5.99288']}

## 2.1. Find starbucks in Sevilla

In [44]:
city_place = "starbucks"

In [45]:
sevilla_starbucks_dict = af.find_places("starbucks", sevilla)

In [46]:
sevilla_starbucks_df = af.build_df(sevilla_starbucks_dict)
sevilla_starbucks_df.head()

,nombre,latitud,longitud,location
0,Starbucks Avda Constitución 36 (Starbucks),37.384195,-5.993863,"{'type': 'Point', 'coordinates': [37.384194813..."
1,Starbucks Puerta Jerez,37.382454,-5.992991,"{'type': 'Point', 'coordinates': [37.382453574..."
2,Starbucks Avda Constitución 11,37.386710,-5.993957,"{'type': 'Point', 'coordinates': [37.386709629..."
3,Starbucks Torre Sevilla,37.393171,-6.009272,"{'type': 'Point', 'coordinates': [37.393171, -..."
4,Starbucks On The Go,37.376749,-5.974370,"{'type': 'Point', 'coordinates': [37.37674909,..."

In [47]:
sevilla_starbucks_df.nombre.unique()

array(['Starbucks Avda Constitución 36 (Starbucks)',
       'Starbucks Puerta Jerez', 'Starbucks Avda Constitución 11',
       'Starbucks Torre Sevilla', 'Starbucks On The Go', 'Starbucks'],
      dtype=object)

In [48]:
#af.build_json(city_place, city_name, sevilla_starbucks_dict)

## 2.2. Find vegan restaurants in Sevilla

In [49]:
city_place = "vegan"

In [50]:
sevilla_vegans_dict = af.find_places("vegetariano", sevilla)

In [51]:
sevilla_vegans_df = af.build_df(sevilla_vegans_dict)
sevilla_vegans_df.head()

,nombre,latitud,longitud,location
0,Restaurante Vegetariano Almanara,37.397958,-5.993550,"{'type': 'Point', 'coordinates': [37.397958, -..."
1,Vegetariano Verdys,37.364762,-6.077453,"{'type': 'Point', 'coordinates': [37.364761889..."
2,Vegetariano Feuille,37.539765,-5.882847,"{'type': 'Point', 'coordinates': [37.539765289..."

In [52]:
#af.build_json(city_place, city_name, sevilla_vegans_dict)

## 2.3. Find train stations in Sevilla

In [53]:
city_place = "stations"

In [54]:
sevilla_stations_dict = af.find_places("estacion de tren", sevilla)

In [55]:
sevilla_stations_df = af.build_df(sevilla_stations_dict)
sevilla_stations_df.head()

,nombre,latitud,longitud,location
0,National Car Rental - Estación de tren de Sevi...,37.390825,-5.974632,"{'type': 'Point', 'coordinates': [37.390825, -..."
1,Alamo Rent A Car - Estación de Tren de Sevilla...,37.390866,-5.974639,"{'type': 'Point', 'coordinates': [37.3908656, ..."
2,Europcar Sevilla Estación De Tren,37.392044,-5.974795,"{'type': 'Point', 'coordinates': [37.392044, -..."
3,estacion de tren alcoi,37.370594,-6.027392,"{'type': 'Point', 'coordinates': [37.370594024..."
4,Estación de tren de Carrión de los Céspedes,37.359399,-6.335202,"{'type': 'Point', 'coordinates': [37.359399340..."

In [56]:
sevilla_stations_df.nombre.unique()

array(['National Car Rental - Estación de tren de Sevilla Santa Justa',
       'Alamo Rent A Car - Estación de Tren de Sevilla Santa Justa',
       'Europcar Sevilla Estación De Tren', 'estacion de tren alcoi',
       'Estación de tren de Carrión de los Céspedes',
       'Estación de San Bernardo', 'Estación de tren Guadajoz',
       'Estación de Sevilla-Santa Justa',
       'Estación de Autobuses Plaza de Armas',
       'Estación De Servicio El Ancla', 'Estación de Servicio Repsol',
       'Estación de Sevilla-Santa Justa Adif',
       'Estación del Prado de San Sebastián',
       'Estación de servicio Cepsa', 'Estación Virgen del Rocío',
       'La Estación de Córdoba'], dtype=object)

In [57]:
#af.build_json(city_place, city_name, sevilla_stations_dict)

## 2.4. Find schools in Sevilla

In [58]:
city_place = "schools"

In [59]:
sevilla_schools_dict = af.find_places("colegio", sevilla)

In [60]:
sevilla_schools_df = af.build_df(sevilla_schools_dict)
sevilla_schools_df.head()

,nombre,latitud,longitud,location
0,Colegio Oficial De Químicos,37.371550,-5.996380,"{'type': 'Point', 'coordinates': [37.37155, -5..."
1,Colegio Sagrado Corazón (Esclavas),37.394194,-5.997886,"{'type': 'Point', 'coordinates': [37.394193903..."
2,Caja Ingenieros Colegio de Peritos,37.392399,-5.999502,"{'type': 'Point', 'coordinates': [37.39239899,..."
3,Real e Ilustre Colegio de Médicos de Sevilla,37.373233,-5.985126,"{'type': 'Point', 'coordinates': [37.373233210..."
4,"Colegio Mayor Universitario ""San Juan Bosco""",37.395391,-5.981154,"{'type': 'Point', 'coordinates': [37.395391488..."

In [61]:
sevilla_schools_df.nombre.unique()

array(['Colegio Oficial De Químicos',
       'Colegio Sagrado Corazón (Esclavas)',
       'Caja Ingenieros Colegio de Peritos',
       'Real e Ilustre Colegio de Médicos de Sevilla',
       'Colegio Mayor Universitario "San Juan Bosco"', 'Colegio ribamar',
       'Colegio Nuestra Señora de la Esperanza',
       'Colegio Abogados De Sevilla',
       'Colegio de Administradores de Fincas de Sevilla',
       'Colegio Marista "San Fernando",Sevilla',
       'Colegio San Fernando (Maristas)', 'Colegio Notarial de Sevilla',
       'Colegio Santa Ana', 'Colegio De Ingenieros Tecnicos',
       'Colegio Oficial de Peritos e Ingenieros Tecnicos Industriales de Sevilla',
       'Colegio Italica. Las Teresianas',
       'Colegio Andaluz de Árbitros de Futbol', 'Colegio mayor La Luz',
       'Colegio Oficial de Peritos e Ingenieros',
       'Colegio Oficial Agentes Comerciales',
       'Colegio Oficial De Ingenieros Industriales',
       'Colegio Santo Tomás De Aquino', 'Colegio del Sagrado Corazón',
       'Colegio San Francisco de Paula', 'Colegio Espiritu Santo',
       'Colegio Profesional De Peiodistas De Andalucia',
       'Colegio Joaquin Turina', 'Colegio San Agustin',
       'Colegio Nuestra Señora del Rosario', 'Colegio Portaceli'],
      dtype=object)

In [62]:
#af.build_json(city_place, city_name, sevilla_schools_dict)

## 2.5. Find nurseries in Sevilla

In [63]:
city_place = "nurseries"

In [64]:
sevilla_nurseries_dict = af.find_places("escuela infantil", sevilla)

In [65]:
sevilla_nurseries_df = af.build_df(sevilla_nurseries_dict)
sevilla_nurseries_df.head()

,nombre,latitud,longitud,location
0,Escuela Infantil Los Angelitos,37.382118,-6.001691,"{'type': 'Point', 'coordinates': [37.382117614..."
1,Escuela Infantil Smile,37.389978,-5.983774,"{'type': 'Point', 'coordinates': [37.3899783, ..."
2,Escuela Infantil el Tobogán,37.375900,-5.998240,"{'type': 'Point', 'coordinates': [37.3759, -5...."
3,Escuela Infantil pequeños artistas,37.392754,-5.984199,"{'type': 'Point', 'coordinates': [37.392754, -..."
4,Escuela Infantil SolyLuna,37.388847,-5.967769,"{'type': 'Point', 'coordinates': [37.388847, -..."

In [66]:
sevilla_nurseries_df.nombre.unique()

array(['Escuela Infantil Los Angelitos', 'Escuela Infantil Smile',
       'Escuela Infantil el Tobogán',
       'Escuela Infantil pequeños artistas', 'Escuela Infantil SolyLuna',
       'Escuela Infantil El Pequeño Príncipe',
       'Escuela Infantil Patín Macarena', 'Escuela Infantil San Carlos',
       'Escuela Infantil St. Andrews Babies - Nursery School',
       'Escuela Infantil Piolín',
       'Escuela Infantil El Nido De La Palmera',
       'Escuela Infantil arco iris', 'Escuela infantil el carmen',
       'Escuela infantil bilingüe Paddington',
       'Escuela Infantil Las Almenas', 'Escuela Infantil Simón Verde',
       'Escuela Infantil La Casita de Chocolate',
       'Escuela Infantil Ciudad Aljarafe', 'Escuela Infantil  Itálica',
       'escuela infantil caracol',
       'CENTRO DE EDUCACIÓN INFANTIL DISNEY - ESCUELA INFANTIL EN BORMUJOS y EN SEVILLA',
       'Escuela Infantil Los 3 Cerditos',
       'Escuela Infantil Virgen De Belén',
       'Escuela  Infantil Bilingüe Los Diminutos',
       'Escuela Infantil Europa', 'Escuela Infantil Gloria Fuertes',
       'Escuela Infantil Silos', 'Escuela Infantil Mis Bebitos',
       'Escuela Infantil Araceli De Silva'], dtype=object)

In [67]:
#af.build_json(city_place, city_name, sevilla_nurseries_dict)

## 2.7. Find pets hairdresser in Sevilla

In [68]:
city_place = "pets"

In [69]:
sevilla_pets_dict = af.find_places("peluqueria canina", sevilla)

In [70]:
sevilla_pets_df = af.build_df(sevilla_pets_dict)
sevilla_pets_df.head()

,nombre,latitud,longitud,location
0,Estética y Peluquería Canina Woff-dog,37.369195,-5.978871,"{'type': 'Point', 'coordinates': [37.369194723..."
1,Peluqueria Canina a Domicilio,37.289027,-5.937676,"{'type': 'Point', 'coordinates': [37.289027290..."
2,Peluquería de Caballeros Plaza de Cuba,37.381150,-5.998629,"{'type': 'Point', 'coordinates': [37.3811497, ..."
3,Peluquería Memphis,37.378618,-5.998696,"{'type': 'Point', 'coordinates': [37.3786179, ..."
4,Peluquería Rocío,37.393712,-5.994251,"{'type': 'Point', 'coordinates': [37.393712, -..."

In [71]:
sevilla_pets_df.nombre.unique()

array(['Estética y Peluquería Canina Woff-dog',
       'Peluqueria Canina a Domicilio',
       'Peluquería de Caballeros Plaza de Cuba', 'Peluquería Memphis',
       'Peluquería Rocío', 'Peluquería Roberto y Vera', 'Peluqueria Alex',
       'Peluquería Manolo', 'Peluquería Félix', 'Peluquería buron',
       'Peluqueria Coiffure', 'Peluqueria Kuatro C',
       'peluqueria Teresa Valle', 'Peluquería Karen', 'Peluquería CHANO',
       'peluquería Lowcost', 'Peluqueria Amparo', 'Peluquería Formas',
       'peluquería Crew', 'Peluquería Anarte', 'Peluquería Oscar Murillo',
       'Peluqueria Caballeros Basilio', 'peluquería luis ramos y equipo',
       'Peluquería Caballero Suárez',
       'Peluquería Luxury By Manolo González', 'Peluqueria Los Remedios',
       'Peluquería Zarco', 'Peluquería El Corte Inglés',
       'Peluquería Méndez', 'Peluqueria Lebron Viapol'], dtype=object)

In [72]:
#af.build_json(city_place, city_name, sevilla_pets_dict)

## GEOQUERIES

In [73]:
from pymongo import MongoClient

In [74]:
client = MongoClient("localhost:27017")
db = client.get_database("geospatial_data")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'geospatial_data')

In [75]:
from pymongo import GEOSPHERE

### MADRID

In [76]:
madrid_mongo = db.get_collection("madrid")

In [77]:
db.madrid.create_index([("location", GEOSPHERE)])

'location_2dsphere'

In [78]:
# Utilizamos la función de geocode para que me dé la Latitud y la Longitud, como antes con ironhack
madrid

{'type': 'Point', 'coordinates': ['40.41703', '-3.70343']}

In [79]:
db.madrid.find_one().keys()

dict_keys(['_id', 'nombre', 'latitud', 'longitud', 'location'])

In [80]:
madrid_coord = [40.41703,-3.70343]

In [81]:
coord_tp_Mad = af.type_point(madrid_coord)
coord_tp_Mad

{'type': 'Point', 'coordinates': [40.41703, -3.70343]}

### SEVILLA

In [82]:
sevilla_mongo = db.get_collection("sevilla")

In [83]:
db.sevilla.create_index([("location", GEOSPHERE)])

'location_2dsphere'

In [84]:
sevilla_coord = [37.38285,-5.99288]

In [85]:
coord_tp_Sev = af.type_point(sevilla_coord)
coord_tp_Sev

{'type': 'Point', 'coordinates': [37.38285, -5.99288]}

### BARCELONA

In [86]:
barcelona_mongo = db.get_collection("barcelona")

In [87]:
db.barcelona.create_index([("location", GEOSPHERE)])

'location_2dsphere'

In [88]:
barcelona_coord = [41.38781 , 2.16920]

In [89]:
coord_tp_barc = af.type_point(barcelona_coord)
coord_tp_barc

{'type': 'Point', 'coordinates': [41.38781, 2.1692]}

### FINAL DICTIONARY

In [98]:
final_dictionary = {}

In [109]:
distance = 500

In [110]:
af.build_final_dictionary(final_dictionary, "Madrid", coord_tp_Mad, db.madrid, distance)

{'Madrid': [2, 8, 0, 1, 24],
 'Sevilla': [0, 3, 0, 0, 6],
 'Barcelona': [7, 11, 0, 0, 43]}

In [111]:
af.build_final_dictionary(final_dictionary, "Sevilla", coord_tp_Sev, db.sevilla, distance)

{'Madrid': [2, 8, 0, 1, 24],
 'Sevilla': [0, 3, 0, 0, 6],
 'Barcelona': [7, 11, 0, 0, 43]}

In [112]:
af.build_final_dictionary(final_dictionary, "Barcelona", coord_tp_barc, db.barcelona, distance)

{'Madrid': [2, 8, 0, 1, 24],
 'Sevilla': [0, 3, 0, 0, 6],
 'Barcelona': [3, 6, 0, 0, 21]}

In [115]:
df = af.build_df(final_dictionary)
df

   Madrid  Sevilla  Barcelona
0       2        0          3
1       8        3          6
2       0        0          0
3       1        0          0
4      24        6         21

In [123]:
df_2 = pd.DataFrame.from_dict(final_dictionary, orient='index')

In [126]:
df_2.columns=['Stations','Starbucks','Pets hairdresser','Vegan restaurants','Total score']

In [127]:
df_2

,Stations,Starbucks,Pets hairdresser,Vegan restaurants,Total score
Madrid,2,8,0,1,24
Sevilla,0,3,0,0,6
Barcelona,3,6,0,0,21

In [129]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [130]:
sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")